<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-slate-950 text-gray-100 min-h-screen flex flex-col">
    <header class="max-w-4xl mx-auto my-8 px-4 flex items-center justify-between w-full">
        <a href="/">
            <h1 class="font-bold text-4xl">Store</h1>
        </a>
        <nav>
            <a class="tracking-wider font-thin uppercase text-xl hover:text-gray-500 transition-colors" href="/add">Add new product</a>
        </nav>
    </header>
